body {
  background: rgb(194, 194, 240);
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  padding: 3%;
  margin: 10% auto;
  border: 2px solid black;
  background: white;
  width: 20%;
  height: auto;
}

.toggled {
  text-decoration: line-through;
  font-weight: 100;
}

input {
  border: 1px solid grey;
  padding: 2%;
}

button {
  border-radius: 20px;
  font-weight: 400;
  font-size: .9rem;
}

#clearbttn {
  background: rgb(246, 246, 146);
}